@import "config";
@font-face {
  font-family: "consola";
  src: url(dist\consola.ttf);
}

$primary-color: #1e1e1e;
$secondary-color: #288aba;
$third-color: #e9f624;
$forth-color: #ce8349;
$plain-color: white;
$fifth-color: rgb(163, 0, 141);
$font1: courier;

body {
  background-color: $primary-color;
  margin: 0;
  padding: 0;
}

.container {
  background-color: $primary-color;
  width: 100%;
  height: 100%;

  .centerBox {
    position: absolute;
    top: 35%;
    left: 47%;
    transform: translate(-50%, -50%);
    width: 900px;

    h1 {
      color: $third-color;
      font-size: 80px;
      margin-bottom: 0;
      margin-left: 50px;
      font-family: $font1 !important;
    }

    h2 {
      font-size: 38px;
      padding-left: 69px;
      margin-top: 9px;
      margin-bottom: 9px;
      font-family: $font1 !important;
    }
    h5 {
      font-size: 17px;
      margin-top: 10px;
      font-family: $font1 !important;
      color: white;
      padding-left: 82px;
    }

    .workBox {
      display: grid;
      grid-gap: 15px;
      grid-template-areas:
        "work1 work2 work3"
        "work4 work5 work6"
        "work7 work8 work9";
      grid-template-columns: repeat(3, 1fr);
      .wBox {
        width: 285px;
        height: 198px;
        .imgBox {
          position: relative;
          width: 100%;
          height: 85%;
          border: 1px solid blue;
          .overlay {
            width: 100%;
            height: 100%;
            background-color: rgba($primary-color, 0.9);
            position: absolute;
            top: 0;
            visibility: hidden;

            span {
              color: $secondary-color;
              font-family: $font1;
              text-align: center;
              font-size: 13px;
              margin: 0 auto;
              display: block;
              margin-top: 39px;
              cursor: pointer;
            }
            a {
              text-decoration: none;
            }
            button {
              cursor: pointer;

              text-align: center;
              margin: 0 auto;
              display: block;
              margin-top: 13px;
              background-color: $primary-color;
              color: $fifth-color;
              border: none;
              width: 62px;
              height: 21px;
              border-radius: 3px;
            }
          }
        }
        img {
          width: 100%;
          height: 100%;
        }
      }
      .titleBox {
        text-align: center;
        color: $third-color;
        font-family: $font1;
        padding-top: 10px;
      }
    }
    .work1 {
      grid-area: work1;
    }
    .work2 {
      grid-area: work2;
    }
    .work3 {
      grid-area: work3;
    }
    .work4 {
      grid-area: work4;
    }
    .work5 {
      grid-area: work5;
    }
    .work6 {
      grid-area: work6;
    }
    .work7 {
      grid-area: work7;
    }
    .work8 {
      grid-area: work8;
    }
    .work9 {
      grid-area: work9;
    }
  }
}
.moretop {
  top: 55% !important;
}
.moreheight {
  height: 618px !important;
}

.multiLines {
  position: absolute;
  cursor: pointer;
  right: 2%;
  top: 4%;
  z-index: 11;
  .line {
    width: 31px;
    height: 2px;
    margin-bottom: 5px;
    background: white;
    transition: 0.7s all;
  }
  &.cross {
    .line {
      &:nth-child(1) {
        transform: rotate(45deg) translate(5px, 6px);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        transform: rotate(-45deg) translate(3px, -6px);
      }
    }
  }
}

.side-menu {
  position: absolute;
  height: 100vh;
  width: 34%;
  right: 0%;
  background: rgba(lighten($primary-color, 9%), 0.6);
  transition: 0.7s all;
  z-index: 1;

  .menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .menu-item {
      font-size: 30px;
      font-family: $font1;
      list-style: none;
      color: $plain-color;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 30px;
      font-weight: 500;
      cursor: pointer;
      transition: all 0.8s;
      .menu-link {
        text-decoration: none;
        color: $plain-color;
        &:hover {
          color: $third-color;
          font-size: 33px;
        }
      }
    }
    .active {
      font-weight: 600;
      color: $third-color;
    }
  }
}

.show {
  top: 0;
}
.hide {
  top: -100%;
}

//about me page
.wrapAbout {
  width: 800px;
  height: 660px;
  margin-bottom: 15px;
}
.aboutBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-52%, -33%);
  width: 800px;
  height: 400px;
  .smallBox {
    width: 40%;
    height: 100%;
    display: inline-block;
    position: relative;
    vertical-align: top;
    p {
      font-family: $font1;
      color: $plain-color;
    }
    .imgContainer {
      width: 300px;
      height: 300px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: 1px solid $third-color;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .textBox {
    width: 57%;
    padding-top: 10px;
    padding: 1%;
    p {
      line-height: 28px;
    }
    h1 {
      font-size: 67px;
      margin-left: 0;
    }
  }
}

.techBox {
  h3 {
    padding-left: 0;
    font-family: $font1;
    color: $third-color;
    text-transform: capitalize;
    display: inline-block;
    vertical-align: bottom;
  }

  .techStack {
    display: inline-block;
    margin-left: 20px;
    img {
      width: 50px;
      height: 50px;
      margin-right: 5px;
      transition: 0.7s all;
      &:hover {
        width: 60px;
        height: 60px;
      }
    }
  }
}

.formBox {
  width: 400px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: lighten($primary-color, 10%);
  padding: 10px;
  height: 264px;
  padding-top: 21px;

  .formSpan {
    display: block;
    font-family: $font1;
    font-size: 18px;
    margin-bottom: 4px;
  }
  .formInput {
    width: 99%;
    height: 34px;
    margin-bottom: 8px;
    border-radius: 3px;
    border: none;
    padding-left: 3px;
    font-family: $font1;
  }
}
#formMessage {
  height: 90px;
  padding: 5px;
  width: 97%;
}
.subbtn {
  margin: 0 auto;
  width: 100px;
  height: 30px;
  font-family: $font1;
  display: block;
  background-color: $primary-color;
  color: $third-color;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  margin-top: 13px;
}

.iconsBox {
  position: absolute;
  top: 84%;
  left: 52%;
  transform: translate(-50%, -50%);
  i {
    color: white;
    margin-right: 49px;
    cursor: pointer;
    &:hover {
      color: $fifth-color;
    }
  }
}

.bluee {
  color: $secondary-color;
}
.orange {
  color: $forth-color;
}
.text0 {
  position: relative;
  display: inline-block;
  overflow: hidden;
}
.text_1 {
  animation: text1;
}

.text_2 {
  animation: text2;
}
.text_3 {
  animation: text3;
}

.text_1,
.text_2,
.text_3 {
  overflow: hidden;
  white-space: nowrap;
  display: inline-block !important;
  position: relative;
  animation-duration: 6s;
  animation-timing-function: steps(25, end);
  animation-iteration-count: infinite;
}

.text_1::after,
.text_2::after,
.text_3::after {
  content: "|";
  position: absolute;
  right: 0;
  animation: caret infinite;
  animation-duration: 1s;
  animation-timing-function: steps(1, end);
}
@keyframes text3 {
  0%,
  40%,
  80%,
  100% {
    width: 0;
  }

  90%,
  100% {
    width: 4em;
  }
}

@keyframes text2 {
  0%,
  40%,
  80%,
  100% {
    width: 0;
  }

  50%,
  70% {
    width: 7em;
  }
}

@keyframes text1 {
  0%,
  40%,
  80%,
  100% {
    width: 0;
  }
  10%,
  30% {
    width: 10.6em;
  }
}

@keyframes caret {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@include mediaMedium {
  .hide {
    top: -105%;
  }
  .side-menu {
    width: 50%;
  }

  .container {
    .centerBox {
      left: 47%;
      width: 600px;
      .wrapAbout {
        width: 600px;
        height: 549px;

      }
      .workBox {
        display: grid;
        grid-gap: 10px;
        grid-template-areas:
          "work1 work2"
          "work3 work4"
          "work5 work6"
          "work7 work8"
          "work9 work9"
        ;

        grid-template-columns: 1fr 1fr;
        .wBox {
          margin: auto;
        }
      }
    }
  }
  .moretop2{
    top: 97% !important;

  }
  .aboutBox {
    width: 624px;
    left: 56%;
    height: 400px;
    .textBox {
      width: 51%;

      h1 {
        font-size: 53px;
      }
      p {
        font-size: 15px;
      }
    }
    .smallBox {
      .imgContainer {
        width: 250px;
        height: 250px;
      }
    }
  }
  .techBox{
    .techStack{
      img{
        width: 41px;
    height: 41px;
      }
    }
  }

  .iconsBox{
    i{
      margin-right: 34px;

    }
  }
}

@include mediaSmall {
  .container {
    .centerBox {
      width: 83vw;
      left: 50%;
      h2 {
        font-size: 25px;
      }
      .wrapAbout{
        height: 702px;
        width: 400px;

        .aboutBox {
          width: 85vw;
          left: 52%;
          top: 44%;
      
          .smallBox {
            display: block;
            .imgContainer {
              width: 100%;
              height: 100%;
              left: 88%;
            }
          }
      
          .textBox {
            width: 100%;
            h1 {
              font-size: 45px;
              margin-left: unset;
            }
          }
        }
      }
      .workBox {
        display: grid;
        grid-gap: 10px;
        grid-template-areas:
          "work1"
          "work2"
          "work3"
          "work4"
          "work5"
          "work6"
          "work7"
          "work8"
          "work9";

        grid-template-columns: 1fr;
        .wBox {
          margin: auto;
        }
      }
      .techBox {
        h3 {
          padding-left: 25px;
        }
        .techStack {
          img {
            width: 42px;
            height: 46px;
          }
        }
      }
    }
  }

  .moretop2 {
    top: 168% !important;
  }
  .imgMob {
    width: 200px !important;
    height: 200px !important;
  }
  
  
  .text0 {
    display: block;
  }
  .side-menu {
    width: 63%;
  }
  .wrapAbout {
    height: 757px;
  }

  .formBox {
    width: 340px;
  }
  .iconsBox {
    i {
      margin-right: 12px;
    }
  }
}
