@font-face {
  font-family: "consola";
  src: url(dist\consola.ttf);
}

body {
  background-color: #1e1e1e;
  margin: 0;
  padding: 0;
}

.container {
  background-color: #1e1e1e;
  width: 100%;
  height: 100%;
}

.container .centerBox {
  position: absolute;
  top: 35%;
  left: 47%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 900px;
}

.container .centerBox h1 {
  color: #e9f624;
  font-size: 80px;
  margin-bottom: 0;
  margin-left: 50px;
  font-family: courier !important;
}

.container .centerBox h2 {
  font-size: 38px;
  padding-left: 69px;
  margin-top: 9px;
  margin-bottom: 9px;
  font-family: courier !important;
}

.container .centerBox h5 {
  font-size: 17px;
  margin-top: 10px;
  font-family: courier !important;
  color: white;
  padding-left: 82px;
}

.container .centerBox .workBox {
  display: -ms-grid;
  display: grid;
  grid-gap: 15px;
      grid-template-areas: "work1 work2 work3" "work4 work5 work6" "work7 work8 work9";
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.container .centerBox .workBox .wBox {
  width: 285px;
  height: 198px;
}

.container .centerBox .workBox .wBox .imgBox {
  position: relative;
  width: 100%;
  height: 85%;
  border: 1px solid blue;
}

.container .centerBox .workBox .wBox .imgBox .overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(30, 30, 30, 0.9);
  position: absolute;
  top: 0;
  visibility: hidden;
}

.container .centerBox .workBox .wBox .imgBox .overlay span {
  color: #288aba;
  font-family: courier;
  text-align: center;
  font-size: 13px;
  margin: 0 auto;
  display: block;
  margin-top: 39px;
  cursor: pointer;
}

.container .centerBox .workBox .wBox .imgBox .overlay a {
  text-decoration: none;
}

.container .centerBox .workBox .wBox .imgBox .overlay button {
  cursor: pointer;
  text-align: center;
  margin: 0 auto;
  display: block;
  margin-top: 13px;
  background-color: #1e1e1e;
  color: #a3008d;
  border: none;
  width: 62px;
  height: 21px;
  border-radius: 3px;
}

.container .centerBox .workBox .wBox img {
  width: 100%;
  height: 100%;
}

.container .centerBox .workBox .titleBox {
  text-align: center;
  color: #e9f624;
  font-family: courier;
  padding-top: 10px;
}

.container .centerBox .work1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: work1;
}

.container .centerBox .work2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: work2;
}

.container .centerBox .work3 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: work3;
}

.container .centerBox .work4 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: work4;
}

.container .centerBox .work5 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: work5;
}

.container .centerBox .work6 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: work6;
}

.container .centerBox .work7 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: work7;
}

.container .centerBox .work8 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: work8;
}

.container .centerBox .work9 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: work9;
}

.moretop {
  top: 55% !important;
}

.moreheight {
  height: 618px !important;
}

.multiLines {
  position: absolute;
  cursor: pointer;
  right: 2%;
  top: 4%;
  z-index: 11;
}

.multiLines .line {
  width: 31px;
  height: 2px;
  margin-bottom: 5px;
  background: white;
  -webkit-transition: 0.7s all;
  transition: 0.7s all;
}

.multiLines.cross .line:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(5px, 6px);
          transform: rotate(45deg) translate(5px, 6px);
}

.multiLines.cross .line:nth-child(2) {
  opacity: 0;
}

.multiLines.cross .line:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(3px, -6px);
          transform: rotate(-45deg) translate(3px, -6px);
}

.side-menu {
  position: absolute;
  height: 100vh;
  width: 34%;
  right: 0%;
  background: rgba(53, 53, 53, 0.6);
  -webkit-transition: 0.7s all;
  transition: 0.7s all;
  z-index: 1;
}

.side-menu .menu {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.side-menu .menu .menu-item {
  font-size: 30px;
  font-family: courier;
  list-style: none;
  color: white;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
  font-weight: 500;
  cursor: pointer;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.side-menu .menu .menu-item .menu-link {
  text-decoration: none;
  color: white;
}

.side-menu .menu .menu-item .menu-link:hover {
  color: #e9f624;
  font-size: 33px;
}

.side-menu .menu .active {
  font-weight: 600;
  color: #e9f624;
}

.show {
  top: 0;
}

.hide {
  top: -100%;
}

.wrapAbout {
  width: 800px;
  height: 660px;
  margin-bottom: 15px;
}

.aboutBox {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-52%, -33%);
          transform: translate(-52%, -33%);
  width: 800px;
  height: 400px;
}

.aboutBox .smallBox {
  width: 40%;
  height: 100%;
  display: inline-block;
  position: relative;
  vertical-align: top;
}

.aboutBox .smallBox p {
  font-family: courier;
  color: white;
}

.aboutBox .smallBox .imgContainer {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 1px solid #e9f624;
}

.aboutBox .smallBox .imgContainer img {
  width: 100%;
  height: 100%;
}

.aboutBox .textBox {
  width: 57%;
  padding-top: 10px;
  padding: 1%;
}

.aboutBox .textBox p {
  line-height: 28px;
}

.aboutBox .textBox h1 {
  font-size: 67px;
  margin-left: 0;
}

.techBox h3 {
  padding-left: 0;
  font-family: courier;
  color: #e9f624;
  text-transform: capitalize;
  display: inline-block;
  vertical-align: bottom;
}

.techBox .techStack {
  display: inline-block;
  margin-left: 20px;
}

.techBox .techStack img {
  width: 50px;
  height: 50px;
  margin-right: 5px;
  -webkit-transition: 0.7s all;
  transition: 0.7s all;
}

.techBox .techStack img:hover {
  width: 60px;
  height: 60px;
}

.formBox {
  width: 400px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #383838;
  padding: 10px;
  height: 264px;
  padding-top: 21px;
}

.formBox .formSpan {
  display: block;
  font-family: courier;
  font-size: 18px;
  margin-bottom: 4px;
}

.formBox .formInput {
  width: 99%;
  height: 34px;
  margin-bottom: 8px;
  border-radius: 3px;
  border: none;
  padding-left: 3px;
  font-family: courier;
}

#formMessage {
  height: 90px;
  padding: 5px;
  width: 97%;
}

.subbtn {
  margin: 0 auto;
  width: 100px;
  height: 30px;
  font-family: courier;
  display: block;
  background-color: #1e1e1e;
  color: #e9f624;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  margin-top: 13px;
}

.iconsBox {
  position: absolute;
  top: 84%;
  left: 52%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.iconsBox i {
  color: white;
  margin-right: 49px;
  cursor: pointer;
}

.iconsBox i:hover {
  color: #a3008d;
}

.bluee {
  color: #288aba;
}

.orange {
  color: #ce8349;
}

.text0 {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.text_1 {
  -webkit-animation: text1;
          animation: text1;
}

.text_2 {
  -webkit-animation: text2;
          animation: text2;
}

.text_3 {
  -webkit-animation: text3;
          animation: text3;
}

.text_1,
.text_2,
.text_3 {
  overflow: hidden;
  white-space: nowrap;
  display: inline-block !important;
  position: relative;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-timing-function: steps(25, end);
          animation-timing-function: steps(25, end);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.text_1::after,
.text_2::after,
.text_3::after {
  content: "|";
  position: absolute;
  right: 0;
  -webkit-animation: caret infinite;
          animation: caret infinite;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: steps(1, end);
          animation-timing-function: steps(1, end);
}

@-webkit-keyframes text3 {
  0%,
  40%,
  80%,
  100% {
    width: 0;
  }
  90%,
  100% {
    width: 4em;
  }
}

@keyframes text3 {
  0%,
  40%,
  80%,
  100% {
    width: 0;
  }
  90%,
  100% {
    width: 4em;
  }
}

@-webkit-keyframes text2 {
  0%,
  40%,
  80%,
  100% {
    width: 0;
  }
  50%,
  70% {
    width: 7em;
  }
}

@keyframes text2 {
  0%,
  40%,
  80%,
  100% {
    width: 0;
  }
  50%,
  70% {
    width: 7em;
  }
}

@-webkit-keyframes text1 {
  0%,
  40%,
  80%,
  100% {
    width: 0;
  }
  10%,
  30% {
    width: 10.6em;
  }
}

@keyframes text1 {
  0%,
  40%,
  80%,
  100% {
    width: 0;
  }
  10%,
  30% {
    width: 10.6em;
  }
}

@-webkit-keyframes caret {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes caret {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@media screen and (max-width: 809px) {
  .hide {
    top: -105%;
  }
  .side-menu {
    width: 50%;
  }
  .container .centerBox {
    left: 47%;
    width: 600px;
  }
  .container .centerBox .wrapAbout {
    width: 600px;
    height: 549px;
  }
  .container .centerBox .workBox {
    display: -ms-grid;
    display: grid;
    grid-gap: 10px;
        grid-template-areas: "work1 work2" "work3 work4" "work5 work6" "work7 work8" "work9 work9";
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .container .centerBox .workBox .wBox {
    margin: auto;
  }
  .moretop2 {
    top: 97% !important;
  }
  .aboutBox {
    width: 624px;
    left: 56%;
    height: 400px;
  }
  .aboutBox .textBox {
    width: 51%;
  }
  .aboutBox .textBox h1 {
    font-size: 53px;
  }
  .aboutBox .textBox p {
    font-size: 15px;
  }
  .aboutBox .smallBox .imgContainer {
    width: 250px;
    height: 250px;
  }
  .techBox .techStack img {
    width: 41px;
    height: 41px;
  }
  .iconsBox i {
    margin-right: 34px;
  }
}

@media screen and (max-width: 500px) {
  .container .centerBox {
    width: 83vw;
    left: 50%;
  }
  .container .centerBox h2 {
    font-size: 25px;
  }
  .container .centerBox .wrapAbout {
    height: 702px;
    width: 400px;
  }
  .container .centerBox .wrapAbout .aboutBox {
    width: 85vw;
    left: 52%;
    top: 44%;
  }
  .container .centerBox .wrapAbout .aboutBox .smallBox {
    display: block;
  }
  .container .centerBox .wrapAbout .aboutBox .smallBox .imgContainer {
    width: 100%;
    height: 100%;
    left: 88%;
  }
  .container .centerBox .wrapAbout .aboutBox .textBox {
    width: 100%;
  }
  .container .centerBox .wrapAbout .aboutBox .textBox h1 {
    font-size: 45px;
    margin-left: unset;
  }
  .container .centerBox .workBox {
    display: -ms-grid;
    display: grid;
    grid-gap: 10px;
        grid-template-areas: "work1" "work2" "work3" "work4" "work5" "work6" "work7" "work8" "work9";
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .container .centerBox .workBox .wBox {
    margin: auto;
  }
  .container .centerBox .techBox h3 {
    padding-left: 25px;
  }
  .container .centerBox .techBox .techStack img {
    width: 42px;
    height: 46px;
  }
  .moretop2 {
    top: 168% !important;
  }
  .imgMob {
    width: 200px !important;
    height: 200px !important;
  }
  .text0 {
    display: block;
  }
  .side-menu {
    width: 63%;
  }
  .wrapAbout {
    height: 757px;
  }
  .formBox {
    width: 340px;
  }
  .iconsBox i {
    margin-right: 12px;
  }
}
/*# sourceMappingURL=main.css.map */